@model LibrarySystemV4ForeignKeys.Models.Loan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan Successfully Taken</h4>
   

    
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
