@model IEnumerable<LibrarySystemV4ForeignKeys.Models.Genre>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Genres";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Genre</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Genre Id
            </th>
            <th>
                Genre Type
            </th>
            <th>
               Modify
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genreType)
                </td>

               
                <td>
                  
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
